.ticketBoard {
    background-color: palevioletred;
    border: 4px solid thistle;
    border-radius: 3px;
    margin: 20px auto;
    padding: 20px 0px;
    width: 60%;

}

.pageHandlers {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.pageTitle {
    margin: 40px auto;
    background-color: palevioletred;
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid thistle;
    border-radius: 3px;
    color: white;

}